{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/sala_situacao/sala_situacao.css' %}" />
{% endblock %}


{% block content %}
  <section class="page-header">
    <h2>{{ titulo }}</h2>
  </section>

  <div class="form">
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <p>
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {{ field.errors }}
          {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
        </p>
      {% endfor %}
      <div class="form-actions">
        <button type="submit" class="btn">Salvar</button>
        <a class="btn btn-light" href="{{ cancel_url }}">Cancelar</a>
      </div>
    </form>
  </div>
{% endblock %}
