{% extends "base.html" %}

{% block content %}
  <section class="page-header">
    <h2>Excluir card administrativo</h2>
  </section>

  <form class="form" method="post">
    {% csrf_token %}
    <p>Tem certeza que deseja excluir "{{ object.get_funcionalidade_display }}"?</p>
    <div class="form-actions">
      <button class="btn btn-danger" type="submit">Excluir</button>
      <a class="btn btn-secondary" href="{% url 'administracao_atalho_administracao_list' %}">Cancelar</a>
    </div>
  </form>
{% endblock %}
